@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
}
.section-title{
    margin: 0 auto;
    width: 570px;
    text-align: center;
    color: #464e68
}
.section-title h1{
    font-weight: 800;
}
/* nav start */
.navigation{
    background-color: #f4f4f4;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.navbar{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
}
.nav-left .logo a{
    color: #515A79;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right-link{
    display: flex;
}
.nav-right-link li{
    list-style-type: none;
    padding: 0px 20px;
}
.nav-right-link li a{
    text-decoration: none;
    font-weight: 600;
    color: #515A79;
}
/* end nav */
/* start hero */
.hero-bg{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: top center;
    height: 90vh;
    width: 100%;
}
.hero-text{
    width: 800px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.hero-text h3,.hero-text a,.hero-text p{
    color: #ffffff;
}
.hero-text h3{
    font-size: 2rem;
    line-height: 2.2rem;
}
.hero-text p{
    margin-top: 12px;
    margin-bottom: 20px;
    line-height: 1.7rem;
    word-spacing: 0.1rem;
    color: #d6d6d6;
}
.hero-btn{
    text-decoration: none;
    background-color: #7DDF96;
    padding: 7px 30px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    display: inline-block;
}
.hero-btn:hover{
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.5);
}
/* hero end */
/* features */
.features-heading h1, .features-heading p{
    color: #515A79;
}
.features-heading p{
    word-spacing: 0.1rem;
}
.features-body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}
.features-body-item{
    width: 48%;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.features-icon{
    margin-right: 20px;
}
.features-icon i{
    border: 2px solid #515A79;
    border-radius: 50%;
    padding: 35px;
    color: #515A79;
}
.features-body-item h3{
    color: #515A79;
    font-size: 1.4rem;
    font-weight: 800;
}
.features-body-item p{
    color: #515A79;
}
/* features end */
.product{
    display: flex;
}
.product-bg{
    background-color: #464e68 !important;
}
.product-item{
    background-color: #515A79;
    padding: 80px 100px 40px 100px;
    text-align: center;
}
.product-item-img{
   background-size: cover;
   background-position: center center;
   margin: 0 auto;
   margin-bottom: 15px;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   border: 2px solid #ffffff;
   transition: all 0.5s ease-in-out;
}
.product-item-img:hover{
    transform: scale(1.1);
}
.product-item h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #ffffff;
}
.product-item p{
    font-size: 1rem;
    margin-bottom: 15px;
    color: #adadad;
}
.product-item a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
/* end product */
/* work */
.work-title{
    margin-top: 30px;
    margin-bottom: 50px;
}
.work-title ul{
    display: flex;
    justify-content: center;
}
.work-title ul li{
    padding: 5px 20px;
    list-style: none;
}
.work-title a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.work-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-card-item{
    width: 24%;
    margin-bottom: 30px;
    color: #464e68;
}
.work-img-hover{
    overflow: hidden;
    height: 350px;
    border-radius: 10px;
}
.work-card-img{
    width: 100%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.work-card-img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.work-card-item h3{
    margin-top: 5px;
}
.work-card-item p{
    font-size: 14px;
}
/* work end */
/* omnis */
.omnis{
    background-color: #515A79;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
}
.omnis-item{
    width: 50%;
}
.omnis h3{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.omnis-item p{
    color: #adadad;
}
.omnis-item-btn{
   display: flex;
   align-items: center;
}
.btn-omnis{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid gray;
    padding: 6px 32px;
    color: #ffffff;
    margin-right: 5px;
}
.btn-omnis-sec{
    text-decoration: none;
    background-color: #7DDF96;
    border: 1px solid #7DDF96;
    padding: 6px 32px;
    color: #ffffff;
}